.domaine-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.domaine-title {
  text-align: center;
  margin-top: 15rem;
  display: inline-block;
}

.domaine-item video {
  clip-path: circle(30%);
}

.domaine-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.domaine-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
