@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* COLORS*/
$background-black: #0e1217;
$background-grey: #939393;
$red: #f64c4f;
$beige-clair: #f1e8e4;
$beige-middle: #958a85;
$beige-dark: #544b48;
$corail: #f9ba9d;

/*FONTS*/
$title-font-family: "Philosopher", sans-serif;

/* FORM CONTAINER*/

@mixin form-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* FORM INPUT*/

@mixin basic-input($input-color) {
  border: none;
  background: $beige-clair;
  color: $background-black;
  margin-top: 0px;
  width: 400px;
  border-bottom: 5px solid;
  border-color: $input-color;
  height: 40px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  transition: ease 0.5s;

  &:hover {
    @include basic-input-hover($input-color);
  }

  &:focus {
    outline: none;
  }
}

@mixin basic-input-hover($input-color-hover) {
  border-bottom: 8px solid;
  border-color: $input-color-hover;
  height: 50px;
  width: 400px;
  transition: ease 0.5s;
}

@mixin toastNotif {
  height: 120px;
}

@mixin form-container-label {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 400px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 2rem;
}
