.caroulsel-container {
  background: #f9ba9d center no-repeat;
  height: 580px;
  width: 400px;
  margin-left: 11rem;
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.caroulsel-container img {
  height: 800px;
}

.carte-container {
  width: 500px;
  margin-left: 20rem;
}
